#!/usr/bin/env zsh

# direnv looks at the .envrc file to determine what to autoload.
# but .env is the standard file name for storing env vars. So here,
# we export all env vars in .env, and in .envrc simply source .env.

set -a; source .env; set +a

alias django-admin=../.pyenv/versions/3.8.2/bin/django-admin

alias sentry-cli=./node_modules/.bin/sentry-cli
